h1{
    font-family: "Homemade Apple";
    font-size: 3em;
}

p{
    font-family: "Noto Serif";
    font-size: 1.4em;
}

h2{
    font-family: "Work Sans";
}

ul{
    li{
        h2{
            font-style: normal;
        }
    }
}